.App {
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content
}

.board {
  border: 3px solid red;
  background-color: #070F2B;
  height: 630px;
  width: 798px;
  z-index: 1;
  display: grid;
  grid-template-rows: repeat(30, 21px);
  grid-template-columns: repeat(38, 21px);
  top: 60px;
}

.food {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  z-index: 2;
  background-color: #5cfff4;
  margin: 1px;
  align-items: center;
}

.snake-body {
  height: 20px;
  width: 20px;
  background-color: rgb(242, 177, 55);
  border-radius: 2px;
  margin: 1px;
}

.snake-head {
  height: 20px;
  width: 20px;
  background-color: orange;
  border-radius: 2px;
  margin: 1px;
}

.snake {
  position: absolute;
}

.board-box {
  border: 1px solid #a4f4f41d;
}
img {
  position: absolute;
  top: 100px;
  border-radius: 10px;
  width: 700px;
}
button {
  color: rgb(54, 133, 2);
  border-radius: 5px;
  border: solid 4px orange;
  cursor: pointer;
  width: 150px;
  padding: 10px;
  margin-top: 100px;
  position: absolute;
  z-index: 2;
  top: 50%;
  animation: glowing 1s  ease-in-out  infinite alternate;

}

.score {
  font-size: 25px;
  align-self: start;
  color: orange;
}

.modal {
  height: 200px;
  width: 350px;
  background-color: rgb(236, 241, 244);
  position: absolute;
  z-index: 2;
  text-align: center;
  border-radius: 5px;
  /* padding-top: 50px; */
}

.modal button {
  width: 70px;
  border: 3px;
  padding: 6px;
  box-shadow: #070F2B;
}

@keyframes glowing {
  0% {
    background-color: rgba(235, 199, 17, 0.922);
    box-shadow: 0 0 3px rgba(235, 199, 17, 0.922);
  }
  100% {
    background-color: rgb(255, 213, 0);
    box-shadow: 0 0 3px rgb(255, 213, 0);
  }
}
