.App {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 50px 0px 50px;
  row-gap: 5px;
  flex-direction: column;
}

.board {
  border: 3px solid red;
  background-color: #070F2B;
  height: 630px;
  width: 798px;
  z-index: 1;
  display: grid;
  grid-template-rows: repeat(30, 21px);
  grid-template-columns: repeat(38, 21px);
}

.food {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  z-index: 2;
  background-color: #5cfff4;
  margin: 1px;
  align-items: center;
}

.snake-body {
  height: 20px;
  width: 20px;
  background-color: rgb(242, 177, 55);
  border-radius: 2px;
  margin: 1px;
}

.snake-head {
  height: 20px;
  width: 20px;
  background-color: orange;
  border-radius: 2px;
  margin: 1px;
}

.snake {
  position: absolute;
}

.board-box {
  border: 1px solid #a4f4f41d;
}

button {
  background-color: black;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.score {
  font-size: 25px;
}